<div class="row list-view">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-4 col-sm-4">
            <img />
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="row"><div class="col-lg-12 col-sm-12"><h5>{{data.Id}}</h5></div></div>
            <div class="row"><div class="col-lg-12 col-sm-12"><a></a></div></div>
            <div class="row"><div class="col-lg-12 col-sm-12"><a>Posted On</a></div></div>
            <div class="row"><div class="col-lg-12 col-sm-12"><p>Posted On</p></div></div>
            <div class="row"><div class="col-lg-12 col-sm-12"><p>Countine</p></div></div>
        </div>
    </div>
</div>